@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

header, body {
    font-family: 'Staatliches', cursive;
    
}

#navbarSKT{
    background-color: #ff9b21;
    color: white;
}

.barra1{
    margin: 0px;
    background-color: #eb8f1e;
    height: 10px;
}

.nav-item:hover{
    background-color: #eb8f1e;
}

.barra2{
    background-color: #2e66ff;
    height: 10px;
}

.nav-item{
    font-size: 20px;
}

#btnSearch{
    background-color: white;
}

#btnSearch:hover{
    background-color: #2e66ff;
}

.searchContainer{
    background-color: #ff9b21;
}

/* Parte de Cadastro/Login */
#pageCadastro{
    font-family: 'Staatliches', cursive;
    background: #f2f2f2;
}
#cadastro{
    border-right: 3px solid #ff9b21;
}

#test{
    border: 3px solid #eb8f1e;
    padding: 15px;
    border-radius: 10px;
}
footer{
    text-align: center;
    margin: 0 auto;
}

